<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Rater</title>
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
     <!-- bootstrap/css -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/register.css">
     <!-- font awesome -->
     <script src="https://use.fontawesome.com/e43f69cce6.js"></script>
 <script src="https://kit.fontawesome.com/9c66dcb850.js" crossorigin="anonymous"></script>
</head>
<body>
    <form class="form-signin" action="/register" method="POST">
      <% if (message){ %>
        <div style="text-align: center;" class="alert alert-<%=message.type%>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><%=message.intro%></strong> <%=message.message%> 
        </div>
        <% } %> 
        <div class="text-center mb-4">
          <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Rater</h1>
          <div class="front-text">
          <p>Register to start rating your favorite movies.</p>
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>
        </div>
        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email" autofocus>
            <label for="userName">Email</label>
          </div>

          <div class="form-label-group">
            <input type="text" id="inputEmail" class="form-control" name="userName2" placeholder="Email" autofocus>
            <label for="userName">Username</label>
          </div>
      
        <div class="form-label-group">
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
          <label for="inputPassword">Password</label>
        </div>
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <a href="/">Back to home page</a>
        <p class="mt-5 mb-3 text-muted text-center">&copy; Rater 2020</p>
      </form>

    <!--bootstrap javascript-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>