<%- include('header1') %>

<div class="allPage">
    <section>
    <div class="message">
        <h1>Your query has been sent to us! Thanks</h1>
    </div>
</section>

</div>













<%- include('footer1') %> 